/* Import cute font */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&display=swap');

* {
  cursor: url('/cat-paw.png') 16 16, auto; /* PNG first (fallback) */
  cursor: url('/cat-paw.svg') 16 16, auto; /* SVG second (preferred) */
}

@media (max-width: 600px) {
  .nav
   {
    font-size: .8em;
  }
  .container {
      flex-direction: column; /* Stack elements vertically */
      height: auto; /* Allow container to adjust height */
      padding: 20px; /* Add some space around */
  }

  .card {
      width: 90%; /* Make the card take most of the screen width */
      height: auto; /* Adjust height automatically */
      padding: 15px;
  }

  p {
      font-size: 1.1em; /* Adjust text size for mobile */
  }
  button {
    padding-bottom: .8em;
  }

  .logo {
    display: flex;
    align-items: center; 
  }

  .logo-img {
    width: 0.8em;
    height: auto; /* Keep aspect ratio */
  }

  .nav-links a,
  .nav-links Link, 
   button {
    font-size: .8em ;
   }
}
